html,
body {
    height: 100vh;
    background-color: #a2a2a2;

}

.table {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    background: #2b2b2b;
}

@media screen and (max-width: 580px) {
    body {
        font-size: 16px;
        line-height: 22px;
    }
}

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 50rem;
}

.table {
    margin: 0 0 20px 0;
    width: 75%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}

@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}

.row.header {
    font-weight: 900;
    color: #000000;
    background: #ea6153;
}

.row.green {
    background: #dadad3;
}

.row>* {
    width: 0%;
}


@media screen and (max-width: 580px) {
    .row {
        padding: 14px 0 7px;
        display: block;
    }

    .row.header {
        padding: 0;
        height: 6px;
    }

    .row.header .cell {
        display: none;
    }

    .row .cell {
        margin-bottom: 10px;
    }

    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}

@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block;
    }
}


.chatcont {
    font-family: "Roboto", sans-serif;
    margin-top: 0rem;
    margin-left: 21.5rem;
    background-color: #a2a2a2;
    display: grid;
    justify-content: right;
    flex-direction: row;
    height: 100px;
}


.feedback-body__email:focus,
.feedback-body__message:focus,
.feedback-body__submit:focus {
    outline: none;
}


.feedback-card {
    border: 1px solid black;
    max-width: 980px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}

.feedback-header {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid black;
}

.feedback-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.feedback-body__submit {
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-image: none;
    background-color: #dadad3;
    box-shadow: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 500;
}

.feedback-body__message {
    margin-top: 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-image: none;
    background-color: #dadad3;
    box-shadow: none;
    padding: 5px;
    min-height: 50px;
    resize: vertical;
}

.feedback-body button {
    margin-top: 10px;
    align-self: flex-end;
}

.feedback-body__email {
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-image: none;
    background-color: #dadad3;
    box-shadow: none;
    padding: 5px;
}

.big {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}