@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

html,
body {
    background-color: #dadad3;
    font-family: 'Roboto', sans-serif;
}

.formcon {
    height: fit-content;
    width: 50rem;
    border: 7px solid #000000;
    background-color: #ffffff;
    /* border-radius: 40px; */
    -webkit-box-shadow: 5px 5px 13px 1px rgba(0, 0, 0, 0.66);
    box-shadow: 5px 5px 13px 1px rgba(0, 0, 0, 0.66);
    margin-left: 33rem;
}

.idbtn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.deletebtn {
    margin-top: 1rem;
}


.deltext {
    font-weight: 900;
}

.chatcont {
    font-family: "Roboto", sans-serif;
    margin-top: 30rem;
    width: 10rem;
    margin-left: 22rem;
    background-color: #a2a2a2;
    display: grid;
    justify-content: right;
    flex-direction: row;
    height: 100px;
}


.feedback-body__email:focus,
.feedback-body__message:focus,
.feedback-body__submit:focus {
    outline: none;
}


.feedback-card {
    border: 1px solid black;
    max-width: 980px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}

.feedback-header {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid black;
}

.feedback-body {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.feedback-body__submit {
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-image: none;
    background-color: #dadad3;
    box-shadow: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 500;
}

.feedback-body__message {
    margin-top: 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-image: none;
    background-color: #dadad3;
    box-shadow: none;
    padding: 5px;
    min-height: 50px;
    resize: vertical;
}

.feedback-body button {
    margin-top: 10px;
    align-self: flex-end;
}

.feedback-body__email {
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-image: none;
    background-color: #dadad3;
    box-shadow: none;
    padding: 5px;
}

.big {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.subbtn {

    border: 2px solid rgba(0, 0, 0, 0.6);
    background-color: #dadad3;
    background-image: none;
    box-shadow: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 2rem;
    margin-right: 1.2rem;
    width: 60px;
}

.subbtn1 {

    border: 2px solid rgba(0, 0, 0, 0.6);
    background-color: #dadad3;
    background-image: none;
    box-shadow: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 500;
    margin-left: .5rem;
    margin-right: 1.2rem;
    width: 60px;
}